body {
  font-family: sans-serif;
  display: flex;
  justify-content: center;
  text-align: center;
  background-color: aliceblue;
  font-family: 'Roboto', sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 0.5em;
  color: black;
  font-size: 1rem;
}

form div {
  margin: 1em;
  display: inline-block;
}

#mapid {
  height: 200px;
  width: 80%;
}

.mapContainer {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

.marker-btn {
  background: none;
  border: none;
  cursor: pointer;
}

.airport-popup {
  padding: 10px;
}

h1 {
  font-family: 'Racing Sans One', cursive;
  font-size: 3em;
  margin: 0px;
}

#travel-quote {
  font-style: italic;
  font-weight: lighter;
}
